.nitro-chatbar {
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 700px; 
    height: $toolbar-height;
    z-index: $toolbar-zindex;
    transform: translateX(-50%); 

    #toolbar-chat-input-container {
        width: 100%; 
        @include media-breakpoint-down(sm) {
            width: 0;
            height: 0;
        }
    }
}
