.nitro-notification-center-container {
    position: absolute;
    bottom: 5%;
    left: 40px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    z-index: $notification-center-zindex;
    pointer-events: none;
    overflow-y: auto;

    .nitro-notification-center {
        background-color: $dark;
        height: 100%;
        pointer-events: all;
    }
}

.nitro-alert {
    min-height: 150px;
    max-height: 350px;

    .notification-frank {
        background-image: url('@/assets/images/notifications/frank.gif');
        width:47px;
        height: 85px;
    }

    .notification-text {
        min-width: 250px;
    }

    &.nitro-alert-default,
    &.nitro-alert-motd {
        width: 350px;
        .notification-text {
            min-width: auto;
        }
    }

    &.nitro-alert-moderation,
    &.nitro-alert-alert {
        width: 250px;
        .notification-text {
            min-width: 225px;
        }
    }
}

.nitro-notification-bubble {
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 8, 17, 0.4);
    pointer-events: all;
    font-size: $font-size-sm;
}
