.nitro-equipped-weapon {
    position: absolute;
    bottom: 18px;
    right:  20px;
    width: 400px;
    height: fit-content;
    padding: 14px;
    overflow: hidden;
}
.weapon-hud {
    display: flex;
    padding: 10px;
    pointer-events: all;
    cursor: pointer;
}

.weapon-info {
    display: flex;
    align-items: center;
}

.weapon-icon {
    height: 40px;
    width: 75;
    margin-right: 10px;
    object-fit: contain; 
    background-color: #1a1a1a; 
    padding: 5px;
    border-radius: 5px; 
}

.weapon-name {
    display: inline;
    color: #b3bdb6;
    font-size: 14px;
    margin-left: 10px;
}

.ammo-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.current-ammo {
    color: white;
    font-size: 24px;
    margin-right: 10px;
}

.reserve-ammo {
    color: #4b9bff;
    font-size: 14px;
}

.reload-button {
    color: #4b9bff;
    font-size: 18px;
    margin-left: 10px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.reload-button:hover {
    color: #7abfff;
}

.safety-icon {
    cursor: pointer;
    margin-left: auto;

}


.nitro-equipped-weapon-overlay {
    position: absolute;
    top: 0px;
    left: 0p;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 1001;
}
