@import './cash-balance/CashBalance';
@import './toggle-cursor-mode/ToggleCursorMode.scss';
@import './weapon-wheel/WeaponWheel';
@import './equipped-weapon/EquippedWeapon';

.nitro-time-of-day {
    position: absolute;
    top: 20px;
    right:  20px;
    width: fit-content;
    height: fit-content;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}