
.skills-grid {
  display: grid;
  gap: 14px;;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.skill-card {
  background: #0B182E;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4px;
  text-align: center;
  transition: transform 0.2s;
  color: white;

  &:hover {
    transform: scale(1.05);
  }

  i {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 10px;
  }

  .skill-name {
    font-size: 0.9em;
  }

  .skill-level {
    font-size: 1.1em;
    font-weight: bold;
  }
}